.message-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  background-color: #0F143A !important;
  height: 80vh;
  max-height: 80vh;
  margin-bottom: 1px;
  width: 60vw;
}

List {
  width: 100%;
  background-color: rgb(244, 23, 90, 0.3);
}
