.optionsMenu {
    background-color: #0F143A;
    color:white;
    padding-top:10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start;
    width:25%;
}

p {
    font-family: Roboto;
    color:white;
}